In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
pd.show_versions()

/opt/conda/lib/python3.10/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.10.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.19.0-26-generic
Version          : #27-Ubuntu SMP PREEMPT_DYNAMIC Wed Nov 23 20:44:15 UTC 2022
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.5.2
numpy            : 1.23.5
pytz             : 2022.7
dateutil         : 2.8.2
setuptools       : 65.6.3
pip              : 22.3.1
Cython           : 0.29.32
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2022.11.0
gcsfs            : None
matplotlib       : 3.6.2
numba            : 0.56.4
numexpr          : 2.8.3
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.9.3
snappy           : None
sqlalchemy       : 1.4.45
tables           : 3.7.0
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : None
zstandard        : 0.19.0
tzdata           : 2022.7

In [3]:
filename = 'washington.csv'
# filename = 'chicago.csv'
# load data file into a dataframe
df = pd.read_csv(filename)
df.head()

city = 'washington'
month = 'january'
day = 'monday'


# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract month from the Start Time column to create an month name column
df['month'] = df['Start Time'].dt.month_name()

# extract day from the Start Time column to create an day name column
df['day'] = df['Start Time'].dt.day_name()

# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

# get the Start Station AND End Station column to create an  start_to_end new column
df['start_to_end'] = df['Start Station'].str.cat(df['End Station'], sep=' --> ')
    
# find the most common hour (from 0 to 23)
# popular_hour = 
    
# print('Most Frequent Start Hour:', popular_hour)

df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,month,day,hour,start_to_end
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,June,Wednesday,8,14th & Belmont St NW --> 15th & K St NW
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,March,Saturday,10,Yuma St & Tenley Circle NW --> Connecticut Ave...
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,May,Tuesday,1,17th St & Massachusetts Ave NW --> 5th & K St NW
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,April,Sunday,7,Constitution Ave & 2nd St NW/DOL --> M St & Pe...
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,June,Saturday,8,Henry Bacon Dr & Lincoln Memorial Circle NW --...

In [4]:
# filter by month if applicable
if month != 'all':
    df = df[ df['month'] == month.title() ]

# filter by day of week if applicable
if day != 'all':
    # filter by day of week to create the new dataframe
    df = df[ df['day'] == day.title()]

In [5]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,month,day,hour,start_to_end
35,34042,2017-01-09 12:29:00,2017-01-09 12:48:00,1138.896,TJ Cmty Ctr / 2nd St & S Old Glebe Rd,Shirlington Transit Center / S Quincy & Randol...,Subscriber,January,Monday,12,TJ Cmty Ctr / 2nd St & S Old Glebe Rd --> Shir...
210,117386,2017-01-23 09:42:00,2017-01-23 10:03:00,1267.685,Columbia Pike & S Dinwiddie St / Arlington Mil...,Columbia Pike & S Dinwiddie St / Arlington Mil...,Subscriber,January,Monday,9,Columbia Pike & S Dinwiddie St / Arlington Mil...
295,77719,2017-01-16 18:39:00,2017-01-16 18:55:00,933.324,8th & O St NW,New Hampshire Ave & T St NW,Subscriber,January,Monday,18,8th & O St NW --> New Hampshire Ave & T St NW
357,118393,2017-01-23 18:02:00,2017-01-23 18:17:00,866.366,1st & M St NE,4th & E St SW,Subscriber,January,Monday,18,1st & M St NE --> 4th & E St SW
717,77760,2017-01-16 18:46:00,2017-01-16 18:52:00,365.124,Wisconsin Ave & Ingomar St NW,Wisconsin Ave & Brandywine St NW,Subscriber,January,Monday,18,Wisconsin Ave & Ingomar St NW --> Wisconsin Av...

In [6]:
"""Displays statistics on the most frequent times of travel."""

print('\nCalculating The Most Frequent Times of Travel...\n')
start_time = time.time()
    
common_month = df['month'].mode()[0]
most_common_month = df['month'].value_counts().idxmax()
print("The most common month is :", common_month)
print("The most common month is :", most_common_month)

# display the most common day of week
common_day = df['day'].mode()[0]
most_common_day = df['day'].value_counts().idxmax()
print("The most common day is :", common_day)
print("The most common day is :", most_common_day)


# display the most common start hour
common_hour = df['hour'].mode()[0]
most_common_start_hour = df['hour'].value_counts().idxmax()
print("The most common start hour is :", common_hour)
print("The most common start hour is :", most_common_start_hour)


print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating The Most Frequent Times of Travel...

The most common month is : January
The most common month is : January
The most common day is : Monday
The most common day is : Monday
The most common start hour is : 17
The most common start hour is : 17

This took 0.0262298583984375 seconds.
----------------------------------------

In [7]:
 """Displays statistics on the most popular stations and trip."""

print('\nCalculating The Most Popular Stations and Trip...\n')
start_time = time.time()

# display most commonly used start station
common_start_station = df['Start Station'].mode()[0]
most_common_start_station = df['Start Station'].value_counts().idxmax()
print("The most common start_station is :", common_start_station)
print("The most common start_station is :", most_common_start_station)

# display most commonly used end station
common_end_station = df['End Station'].mode()[0]
most_common_end_station = df['End Station'].value_counts().idxmax()
print("The most common end station is :", common_end_station)
print("The most common end station is :", most_common_end_station)

# display most frequent combination of start station and end station trip
# df.groupby(['Start Station','End Station']).size().nlargest(1)

# or
#Creating a new calculated column for 'Start & End' stations
df['Start & End'] = df['Start Station'].str.cat(df['End Station'], sep=' --> ')

#or
#displaying Most frequent combination of start station and end station trip using pandas mode() method
print('\nMost frequent combination of start station and end station trip is: ',df['start_to_end'].mode()[0])

print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating The Most Popular Stations and Trip...

The most common start_station is : Columbus Circle / Union Station
The most common start_station is : Columbus Circle / Union Station
The most common end station is : Columbus Circle / Union Station
The most common end station is : Columbus Circle / Union Station

Most frequent combination of start station and end station trip is:  1st & D St SE --> 1st & K St SE

This took 0.037012338638305664 seconds.
----------------------------------------

In [8]:
df.groupby(['Start Station','End Station']).size().nlargest(1).head()

Start Station  End Station
1st & D St SE  1st & K St SE    7
dtype: int64

In [9]:
"""Displays statistics on the total and average trip duration."""

print('\nCalculating Trip Duration...\n')
start_time = time.time()

# display total travel time
total_travel = df['Trip Duration'].sum()
print("Total of travel time :", total_travel)

# display mean travel time
mean_travel = df['Trip Duration'].mean()
print("Mean of travel time :", mean_travel)


print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating Trip Duration...

Total of travel time : 2302709.357
Mean of travel time : 703.7620284229829

This took 0.0017004013061523438 seconds.
----------------------------------------

In [10]:
 """Displays statistics on bikeshare users."""

print('\nCalculating User Stats...\n')
start_time = time.time()

# Display counts of user types
user_types =df['User Type'].value_counts()

print(user_types)

# Display counts of gender
if 'Gender'  in df.columns:
   gender_types =df['Gender'].value_counts()
   print(gender_types)
else:
   print('\nSorry, {} has no "Gender" informations'.format(city))

# Display earliest, most recent, and most common year of birth


print("\nThis took %s seconds." % (time.time() - start_time))
print('-'*40)

Calculating User Stats...

Subscriber    3050
Customer       222
Name: User Type, dtype: int64

Sorry, washington has no "Gender" informations

This took 0.006255149841308594 seconds.
----------------------------------------